@font-face {
    font-family: 'brawlfont';
    src: url(/font/nougat-xtrablack.ttf);
}

body {
    font-family: 'brawlfont', sans-serif;
    background-color: #121212;
    color: white;
}

.brawlhead {
    text-align: center;
    color: #ffffff;
    font-size: 60px;
    margin-top: 30px;
    text-shadow: -4px -4px 0 #000,  
                 4px -4px 0 #000,
                -4px  4px 0 #000,
                 4px  4px 0 #000,
                 0px  4px 0 #000,
                 4px  0px 0 #000,
                -4px  0px 0 #000,
                 0px -4px 0 #000;
}

.musichead {
    text-align: center;
    color: #ff0000;
    font-size: 72px;
    margin-top: -15px; 
    text-shadow: -4px -4px 0 #000,  
                 4px -4px 0 #000,
                -4px  4px 0 #000,
                 4px  4px 0 #000,
                 0px  4px 0 #000,
                 4px  0px 0 #000,
                -4px  0px 0 #000,
                 0px -4px 0 #000;
}

body {
    background-image: url('/images/paintbrawllobby.png');
    background-attachment: fixed;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}