@font-face {
    font-family: 'brawlfont';
    src: url(/font/nougat-xtrablack.ttf);
}

body {
    font-family: 'brawlfont', sans-serif;
    background-color: #121212;
    color: white;
}

/* reset & shared */
.brawlhead, .musichead {
  font-family: 'brawlfont', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1;
  text-align: center;
  display: block;        
  width: 100%;           
  position: relative;    
}

/* BRAWL */
.brawlhead {
  color: #ffffff;
  font-size: 56px;
  margin-top: 28px;
  transform: rotate(0deg); 
  text-shadow:
    -6px -6px 0 #000,
     6px -6px 0 #000,
    -6px  6px 0 #000,
     6px  6px 0 #000,
     0px  6px 0 #000,
     6px  0px 0 #000,
    -6px  0px 0 #000,
     0px -6px 0 #000;
}

/* MUSIC */
.musichead {
  color: #ff0000;
  font-size: 84px;
  margin-top: -5px; 
  top: -6px;         
  transform: rotate(0deg); 
  text-shadow:
    -6px -6px 0 #000,
     6px -6px 0 #000,
    -6px  6px 0 #000,
     6px  6px 0 #000,
     0px  6px 0 #000,
     6px  0px 0 #000,
    -6px  0px 0 #000,
     0px -6px 0 #000;
    z-index: 67; /*SIX SEVEEENNNNN*/
    position: relative;
}



body {
    background-attachment: fixed;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    height: 100vh;
}

.logowings {
    display: block;
    position: relative;
     margin-left: auto; 
     margin-right:auto;
      height: 100px; width: 100px;
      margin-top: -30px;
      z-index: 69;
}